# Built artifacts
bin/
gen/
out/
build/
.gradle/
.navigation/

# IDE settings and configurations
.idea/
*.iml
*.iws
*.ipr
/local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx/

# User-specific stuff
*.user
*.suo
*.pdb
*.swp
*.bak

# Log files
*.log

# Keystores
*.jks
*.keystore
!debug.keystore

# Google Services
# google-services.json

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
